body {
  margin: 0;
}

@font-face {
  font-family: firaCode;
  src: url(resources/FiraCode-Light.woff2);
}

.mainContainer {
  text-align: center;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #C571FF;
  font-family: firaCode, monospace;
}

.logo {
  display: inline-block;
}

@media only screen and (min-width: 700px) {
  .intro {
    margin-left: 80px;
  }
}

.introEc0lint {
  margin-top: 0;
}

h1 {
  font-size: 6.5em;
}

h2 {
  font-size: 5em;
}

h3 {
  font-size: 4em;
  margin-bottom: 30px;
}

h4 {
  font-size: 2.5em;
}

h5 {
  font-size: 1.2em;
  margin: 0;
}

h6 {
  font-size: 1em;
  margin: 0;
}

.firstHeader {
  margin-top: 0;
  max-width: min(900px, 85%);
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  text-justify: inter-word;
  font-weight: 400;
}

.sectionText {
  max-width: min(900px, 85%);
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  text-justify: inter-word;
}

.sectionTitle {
  font-weight: 400;
  margin: 20px;
  max-width: min(900px, 85%);
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  text-justify: inter-word;
}

@media only screen and (max-width: 500px) {
  .sectionTitle {
    font-size: 2.8em;
  }
}

.prototype {
  margin-top: 3%;
  max-width: 100%;
}

.mainButton {
  background-color: #C571FF;
  color: black;
  font-family: 'Fira Code', monospace;
  font-size: 25px;
  padding: 10px 100px;
  cursor: pointer;
  margin: 30px;
  border-radius: 5px;
  margin-bottom: 70px;
}

.mainButton:hover {
  background-color: #8ECCEA;
}

.blueSection {
  background-color: #8ECCEA;
  color: black;
  padding: 20px;
}

.blueSwitchTextImpact {
  min-height: 15em;
  position: relative;
}

@media only screen and (min-width: 400px) {
  .blueSwitchTextImpact {
    min-height: 13em;
  }
}

@media only screen and (min-width: 500px) {
  .blueSwitchTextImpact {
    min-height: 160px;
  }
}

.blueSwitchTextCO2 {
  min-height: 25em;
  position: relative;
}

@media only screen and (min-width: 400px) {
  .blueSwitchTextCO2 {
    min-height: 22em;
  }
}

@media only screen and (min-width: 500px) {
  .blueSwitchTextCO2 {
    min-height: 260px;
  }
}

.blueSectionText {
  max-width: min(700px, 80%);
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  display: inline-block;
}

.blueSwitchInitiatives {
  max-width: min(850px, 90%);
  margin-left: auto;
  margin-right: auto;
}

.switchButtonClicked {
  background-color: #8ECCEA;
  border: 3px solid black;
  border-radius: 50%;
  padding: 3px 3px;
  cursor: pointer;
  margin: 7px;
}

.switchButton {
  background-color: black;
  border-radius: 50%;
  padding: 4px 4px;
  cursor: pointer;
  margin: 7px;
}

.supportCompany {
  cursor: pointer;
  display: inline-block;
  padding: 40px 50px;
  vertical-align: text-top;
  height: 123px;
}

.circle {
  border-radius: 50%;
  background-color: #C571FF;
  color: black;
  padding: 1px;
  width: 220px;
  height: 220px;
  margin: auto;
  margin-bottom: 100px;
}

.circleLink {
  border-radius: 50%;
  background-color: #C571FF;
  color: black;
  padding: 20px 20px;
  width: 200px;
  height: 200px;
  margin: auto;
  margin-bottom: 100px;
}

.circleLink:hover {
  background-color: #8ECCEA;
  cursor: pointer;
}

.baseCircle {
  border-radius: 50%;
  background-color: #C571FF;
  color: black;
  padding: 20px 20px;
  width: 200px;
  height: 200px;
  margin: auto;
  margin-bottom: 100px;
}

.baseCircle:hover {
  background-color: #8ECCEA;
}

.blogLinks {
  justify-content: center;
  display: inline-block;
}

.circleBlog {
  display: inline-block;
  padding: 0 10px;
}

@media only screen and (max-width: 550px) {
  .circleBlog {
    padding: 0;
  }
}

.footerContact {
  margin-left: 20px;
}

.footerName {
  margin: 0 20px;
  margin-top: -30px;
}

@media only screen and (min-width: 700px) {
  .footerName {
    margin: 0 20px;
  }
}

.navLinkPurple {
  text-decoration: underline;
  color: #C571FF;
}

@media only screen and (min-width: 700px) {
  .navLinkPurple {
    text-decoration: none;
  }
}

.navLinkPurple:hover {
  color: #8ECCEA;
  cursor: pointer;
}

.navLinkBlue {
  text-decoration: underline;
  color: #8ECCEA;
}

@media only screen and (min-width: 700px) {
  .navLinkBlue {
    text-decoration: none;
  }
}

.navLinkBlue:hover {
  color: #C571FF;
  cursor: pointer;
}

.navLinkBlack {
  text-decoration: none;
  color: black;
}

.footerElement {
  padding: 5px 40px;
  margin-top: 0px;
}

@media only screen and (min-width: 700px) {
  .footerElement {
    display: inline-block;
    padding: 10px 90px;
  }
}

.footerLinks {
  margin: 20px 0;
}

@media only screen and (min-width: 700px) {
  .footerLinks {
    margin-top: -50px;
  }
}

.footer {
  margin: 20px 0;
}

@media only screen and (min-width: 700px) {
  .footer {
    margin-top: -50px;
  }
}

.header {
  margin-right: 5%;
  margin-top: 30px;
}

@media only screen and (min-width: 1500px) {
  .header {
    margin-right: max(10%, 300px);
  }
}

.headerElement {
  float: right;
  margin-left: 10px;
}

@media only screen and (min-width: 600px) {
  .headerElement {
    padding: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .headerElement {
    font-size: 0.75em;
    margin-left: 8px;
    display: inline-block;
  }
}

.link {
  color: #8ECCEA;
}

.link:hover {
  color: #C571FF;
}

.blueSectionButton {
  background-color: black;
  color: #C571FF;
  font-family: 'Fira Code', monospace;
  font-size: 25px;
  padding: 12px 80px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  border-width: 0;
}

.blueSectionButton:hover {
  background-color: #C571FF;
  color: black;
}

.secondPage {
  margin-top: 50px;
}

.CO2Formula {
  color: #8ECCEA;
  margin-bottom: 30px;
}

.circlePhoto {
  border-radius: 50%;
  display: inline-block;
  max-height: 180px;
  width: auto;
  margin: 20px 40px;
}

.teamPhoto {
  display: inline-block;
  margin-bottom: 50px;
}

.emptyPhoto {
  border-radius: 50%;
  background-color: #8ECCEA;
  color: black;
  padding: 1px;
  width: 180px;
  height: 180px;
  margin: auto;
  margin-bottom: 45px;
}

@media only screen and (min-width: 1200px) {
  .getStarted {
    column-count: 2;
    column-gap: 50px;
  }
}

.icon {
  width: 28px;
  height: 28px;
  filter: invert(54%) sepia(89%) saturate(2452%) hue-rotate(233deg) brightness(100%) contrast(101%);
  padding-left: 10px;
}

.icon:hover {
  filter: invert(88%) sepia(3%) saturate(6004%) hue-rotate(175deg) brightness(97%) contrast(88%);
  cursor: pointer;
}

.badge {
  width: 100px;
  height: 100px;
  margin-left: 20px;
  margin-top: 20px;
}

@media only screen and (min-width: 800px) {
  .badge {
    float: right;
    margin-top: 50px;
    margin-right: 0;
  }
}

.arrowButton {
  cursor: pointer;
  background-color: #8ECCEA;
  border: none;
  position: absolute;
  top: 25%;
  margin-left: -15px;
}

.arrowButtonInititives {
  margin-top: 5%;
  float: right;
  margin-left: -100px;
  position: relative;
}

.arrowButtonInititivesRight {
  top: -90px;
}

@media only screen and (max-width: 678px) {
  .arrowButtonInititivesRight {
    top: -200px;
  }
}

@media only screen and (min-width: 950px) {
  .arrowButtonInititivesRight {
    top: 0;
  }
}

.arrowButtonInititivesLeft {
  margin-left: 0px;
  top: 110px;
  float: left;
}

@media only screen and (max-width: 590px) {
  .arrowButtonInititivesLeft {
    top: 200px;
  }
}

@media only screen and (min-width: 880px) {
  .arrowButtonInititivesLeft {
    top: 0;
  }
}

.arrowButtonLeftCO2 {
  margin-left: -45vw;
}

@media only screen and (min-width: 800px) {
  .arrowButtonLeftCO2 {
    margin-left: -400px;
  }
}

.docsButton {
  background-color: black;
  color: #C571FF;
  font-family: 'Fira Code', monospace;
  font-size: 20px;
  padding: 10px 60px;
  cursor: pointer;
  margin-top: 0px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-width: 0;
}

.docsButton:hover {
  background-color: #C571FF;
  color: black;
}

.photo {
  display: flex;
  max-width: 100%;
  max-height: 300px;
  margin: auto;
}

.blogLinks {
  max-width: 50% !important;
}

.table {
  width: 80%;
  text-align: center;
  border-collapse: collapse;
  margin: 30px auto;
}

.tableCell {
  border: 1px solid;
  margin: 10px;
  padding: 5px;
}

.image {
  display: block;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}


.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  z-index: 1;
}

.modal-content {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #8ECCEA;
  min-height: 10rem;
  padding: 1rem 1.5rem;
  width: 64rem;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 530px) {
  .modal-content {
    width: 16rem;
  }
}

@media only screen and (min-width: 530px) and (max-width: 1200px) {
  .modal-content {
    width: 30rem;
  }
}

.close-button {
  float: right;
  color: black;
  font-size: 3rem;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
}

.modal-title {
  color: black;
  font-size: 1.4em;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.modal-text {
  color: black;
  font-size: 1.1em;
}

.modal-link {
  color: black;
  font-size: 1.1em;
}

.modal-main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%
}

.modal-image {
  display: flex;
  padding: 0 20px 0 10px;
}

@media only screen and (max-width: 530px) {
  .modal-image {
    display: none;
  }
}

.helsinki-image {
  padding-right:10px;
}

.serviceSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: min(900px, 85%);
  margin: auto;
}

.serviceItem {
  font-size: .7em;
  display: flex;
  border: 1px solid #C571FF;
  height: 160px;
  width: 250px;
  margin: 30px auto;
  align-items: center;
  justify-content: center;
}

.serviceRects {
  display: inline-grid;
}

@media only screen and (min-width: 900px) {
  .serviceRects {
    justify-content: center;
    display: inline-flex;
  }
}

.servicesSectionTitle {
  font-weight: 400;
  max-width: min(900px, 85%);
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  text-justify: inter-word;
}

.servicesSectionText {
  font-weight: 400;
  max-width: min(900px, 85%);
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  text-justify: inter-word;
}

.singleService {
  border: solid 0.5px;
  display: inline-block;
  margin: 0 1em;
  height: 20em;
  width: 17em;
}

@media only screen and (max-width: 900px) {
  .singleService {
    margin: 1em 0;
  }
}

.serviceRectTitle {
  font-size: 29px;
  margin: 40px 15px 40px 15px;
}

.serviceRectText {
  font-size: 16px;
  margin: 0 15px;
  padding-right: 10px;
}

.contributorsSection {
  justify-content: center;
  display: inline-block;
  max-width: min(900px, 85%);
}

.mailBox {
  border: 2px solid #C571FF;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 3em auto 5em;
  width: 35%;
  align-items: center;
  font-family: 'Fira Code', monospace;
}

@media only screen and (max-width: 1000px) {
  .mailBox {
    width: 80%;
  }
}

input[type=email] {
  padding: .5em;
  color: #C571FF;
  font-size: 1em;
  background-color: black;
  border: none;
  color-scheme: dark;
  width: 100%;
  font-family: 'Fira Code', monospace;
}

input[type=email]:focus {
  outline: none;
}

.mailBoxLabel {
  color: black;
  background-color: #C571FF;
  font-size: 1.1em;
  padding: .5em 0;
  width: 4em;
  text-align: center;
}

.sendLabel {
  color: black;
  background-color: #C571FF;
  font-size: 1.1em;
  padding: .5em 0;
  width: 7em;
  text-align: center;
  justify-content: flex-end;
  cursor: pointer;
}

.sendLabel:hover {
  background-color: #8ECCEA;
}