@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body {
  margin: 0;
}

.mainContainer {
  text-align: center;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #C571FF;
  font-family: 'Fira Code', monospace;
}

.logo {
  display: inline-block;
}

.intro {
  margin-left: 80px;
}

.introEc0lint {
  margin-top: 0;
}

h1 {
  font-size: 6.5em;
}

h2 {
  font-size: 5em;
}

h3 {
  font-size: 4em;
}

h4 {
  font-size: 4.5em;
}

h5 {
  font-size: 4em;
}

h6 {
  font-size: 1em;
  margin: 0;
}

.firstHeader {
  margin-top: 0;
  /* float: left; */
  /* overflow: auto; */
  /* white-space: nowrap; */
  /* margin-left: 10%; */
  /* min-width: 50%; */
}

.section {
  max-width: min(900px, 85%);
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  text-justify: inter-word;
  padding: 10px;
}

.prototype {
  margin-top: 3%;
}

.downloadButton {
  background-color: #8ECCEA;
  color: black;
  font-family: 'Fira Code', monospace;
  font-size: 25px;
  padding: 10px 80px;
  margin: 10px 0px;
  cursor: pointer;
  margin: 30px;
  border-radius: 5px;
}

.downloadButton:hover {
  background-color: #C571FF;
}
